.form__container {
padding: 1.5rem;
}
.form__types {
  display: flex;
  button {
    margin-bottom: 0.5rem;
    width: 100%;    
    border: 1px solid transparent;
    font-weight: 100;
    &.active{
        border: 1px solid #2ad853;
        font-weight: 600;
        background-color: #2ad853;
        color: #fff;
    }
  }
}

.error{
  color: red;
  margin-top: 0;
}

input[type="submit"]{
  margin-top: 2rem;
}